@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Reset & Inherit Font Family */
:root {
  --font-poppins: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--font-poppins), sans-serif;
}

input,
textarea,
button {
  font-family: var(--font-poppins), sans-serif;
}

::placeholder {
  font-family: var(--font-poppins), sans-serif;
}
/* -------------------------------- */

/* Colors & Theming */
/* Light Mode */
:root {
  --background-color: #e9e9e9;
  --modal-background-color: #e0e0e0;
  --form-background-color: #f6f6f6;
  --text-color: #1e1e1e;
  --text-sub-color: #303030;
  --border-color: #a0a0a0;
  --separator-color: #d0d0d0;

  --hover-color: rgba(255, 255, 255, 0.3);

  --color-white_black: #ffffff;
  --color-black_white: #050505;

  --table-header-color: #e7e7e7;
}

/* Dark Mode */
.dark {
  --background-color: #181818;
  --modal-background-color: #202020;
  --form-background-color: #212121;
  --text-color: #eaeaea;
  --text-sub-color: #c2c2c2;
  --border-color: #323232;
  --separator-color: #444444;

  --hover-color: rgba(255, 255, 255, 0.3);

  --color-white_black: #050505;
  --color-black_white: ##ffffff;

  --table-header-color: #363636;
}
/* --------------- */

/* Reusable Global Styles */
@layer components {
  .componentsBox {
    @apply w-full border border-color-border bg-color-white_black rounded px-4 py-3;
  }

  .defaultTextStyles {
    @apply text-color-text font-semibold text-base;
  }
}

@keyframes bubble-expand {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200vw;
    height: 200vw;
    opacity: 0.8;
  }
}

.animate-bubble-expand {
  animation: bubble-expand 0.7s ease-in-out forwards;
}
